
.chatRoom_input_wrapper{
    position: absolute;
    bottom: 0;
    height: 122px;
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #dadada;
    
    ul{
        display: flex;
        padding: 10px 10px;

        li{
            color: $light-primaryColor;
            margin-right: 4px;
            font-size: 20px;
        }
    }

    .chatRoom_input_box{
        display: flex;
        margin: 0 15px;

        textarea{   
            position: relative;
            display: block;
            background-color: transparent;
            width: 85%;
            height: 73px;
            margin-left: 10px;
            font-size: 18px;
            background-color: transparent;
            border: none;
        
            font-weight: 400;
        &:focus{
            outline: none;
            
        }
    }

        button{
            &.send_button{
                color:#ffffff;
                padding-right: 2px;
                width: 35px;
                height: 35px;
                background-color: $primaryColor;
                border-radius: 50%;
            }
        }
    }

    .emoji-picker-react .emoji-categories {
        background: transparent;
        width: auto;
       
    }

    #emoji{
        margin: 10px 15px;
        font-size: 20px;
    }
}