
@use "../global/variable" as *;

nav{
    background:$darker_primaryColor;
    padding-top: 20px;
    width: 80px;
    
    .user_profile_pic_wrapper{
        width: 40px;
        height: 40px;
        margin: 0 auto;
        border-radius: 50%;
        // border: 1px solid #dadada;
        cursor: pointer;

        .user_profile_img{
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .user_profile_pic{
            position: absolute;
            font-size: 25px;
            padding-left: 9px;
             padding-top: 3px;
             color: #dadada;
       

            &_input{
                position: absolute;
                width: 40px;
                font-size: 28px;
                overflow-x: hidden;
                opacity: 0;
                
            }
        }
    }

    .logout_btn{
        color: #ffffff;
    }
  

}