section{
   
    &#auth{
        width: 100vw;
        height: 100vh;

    .custom-shape-divider-bottom-1595900142 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1595900142 svg {
        position: relative;
        display: block;
        width: calc(126% + 1.3px);
        height: 343px;
    }

    .custom-shape-divider-bottom-1595900142 .shape-fill {
        fill: #9B12F8;
    }

    }


}


